body {
  height: 100vh;
  background: linear-gradient(
      180deg,
      #fcf434 0%,
      #eeeeee 33%,
      #9c59d1 66%,
      #2c2c2c 100%
    )
    fixed;
}

.articleWrapper {
  background: rgba(238, 238, 238, 0.75);
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 90vw;
  border-radius: 5px;
  backdrop-filter: blur(5px) saturate(0.8);
}

li.list-group-item {
  background: rgba(255, 255, 255, 0.5);
}
li.list-group-item img {
  width: 64px;
  height: 64px;
  margin-right: 0.5rem;
}

.link-box {
  display: flex;
  align-items: center;
}

.link-box a {
  display: block;
}

.center {
  text-align: center;
}
