---
layout: default
---

{%- if page.image -%}
    <img src="{{ page.image }}" class="card-img-top" alt="{{ page.image_alt }}" />
{%- endif -%}
<main class="card-body">
    <header>
        {%- if page.title -%}
        <h1 class="card-title display-3">{{ page.title }}</h1>
        {%- endif -%}
        <p class="card-text lead">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <time class="published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: date_format }}
            </time>
            {%- if page.modified_date -%}
                ~ 
                {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                <time class="modified" datetime="{{ mdate }}" itemprop="dateModified">
                {{ mdate | date: date_format }}
                </time>
            {%- endif -%}
            {%- if page.author -%}
                • {% for author in page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                    {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
            {%- endif -%}</p>
        </p>
    </header>

    <div class="card-text" itemprop="articleBody">
        {{ content }}
    </div>
</main>